{% extends 'base_foot.html' %}
{% block head %}
    <script>
        $(function(){
            name_error=false;
            pwd_error=false;
{#            if({{error_name}}==1)#}
{#            {#}
{#                $('.user_error').html('用户名错误').show();#}
{#            }#}
{#             if({{error_pwd}}==1)#}
{#            {#}
{#                $('.pwd_error').html('密码错误').show();#}
{#            }#}
{#            #}
            //用ajax验证登录
            function check(){
                $.ajax({
                    type:'POST',
                    url:'/user/login_handle/',
                    data: {'username':$('.name_input').val(),'pwd':$('.pass_input').val(),'jizhu':$('.jizhu').val()},
                    success:function (data) {
                       if(data.error_name==1)
                       {

                           alert(data.error_name);
                        $('.user_error').html('用户名错误').show();
                        name_error = true;
                       }
                       else
                           {

                               alert(data.error_pwd)
                                $('.pwd_error').html('密码错误').show();
                                pwd_error = true;
                           }
                    },
                    error:function(){
                         alert("false");
                     }
                })
            }
            //判断是否输入用户名密码
            $('.name_input').blur(function() {
		        if($(this).val().length==0)
		        {
			        $('.user_error').html('请输入用户名').show();
                    name_error = true;
		          }
		        else
		        {
                    $('.user_error').hide();
                    name_error = false;
                }
	});
             $('.pass_input').blur(function() {
		        if($(this).val().length==0)
		        {
			        $('.pwd_error').html('请输入密码').show();
                    pwd_error = true;
		          }
		        else
		        {
                    $('.pwd_error').hide();
                    pwd_error = false;
                  }
	});
	$('#form_input').submit(function(){
	    check()
	    if(pwd_error==false&&name_error==false)
	    {
	        return true;
	    }
	    else{
	        return false
	    }
	});
        })
    </script>
{% endblock head %}
{% block body %}
<body>
	<div class="login_top clearfix">
		<a href="index.html" class="login_logo"><img src="/static/images/logo02.png"></a>
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">日夜兼程 · 急速送达</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>用户登录</h1>
					<a href="/user/register">立即注册</a>
				</div>
				<div class="form_input">
{#					<form action="/user/login_handle/" method="post">#}
                        <form  method="post" id="form_input">
{#                         {% csrf_token %}#}
						<input type="text" name="username" class="name_input"  value="{{ uname }}" placeholder="请输入用户名">
						<div class="user_error">输入错误</div>
						<input type="password" name="pwd" class="pass_input" value="{{ upwd }}" placeholder="请输入密码">
						<div class="pwd_error">输入错误</div>
						<div class="more_input clearfix">
							<input type="checkbox" name="jizhu" value="1" checked="checked" class="jizhu">
							<label>记住用户名</label>
							<a href="#">忘记密码</a>
						</div>
						<input type="submit" name="" value="登录"  class="input_submit" >
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock body %}